.whatsapp-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: 0.3s;
}

.whatsapp-btn:hover{
    transform: scale(1.1);
    background: #1ebe5d;
}